<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cm.system.mapper.SysOperLogMapper">

    <sql id="BaseResult">
        select id, module, operation, operator_id, operator_name, operator_type, request_method, request_url, request_param, response_result, ip_address, execution_time, status, error_message, operation_time
        from operation_log
    </sql>

    <insert id="insertOperlog">
        insert into operation_log
        (module, operation, operator_id, operator_name, operator_type, request_method, request_url, request_param, response_result, ip_address, execution_time, status, error_message, operation_time, create_time, update_time, is_deleted)
        values
        (#{module}, #{operation}, #{operatorId}, #{operatorName}, #{operatorType}, #{requestMethod}, #{requestUrl}, #{requestParam}, #{responseResult}, #{ipAddress}, #{executionTime}, #{status}, #{errorMessage}, #{operationTime}, #{createTime}, #{updateTime}, 0)
    </insert>

    <delete id="deleteLogByIds">
        delete from operation_log where id in
        <foreach item="id" collection="ids" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </delete>

    <delete id="emptyLog">
        delete from operation_log
    </delete>

    <select id="logPage" resultType="com.cm.vo.OperationLogPageVO">
        <include refid="BaseResult"/>
        <where>
            <if test="ipAddress != null and ipAddress != ''">and ip_address like concat('%', #{ipAddress}, '%')</if>
            <if test="module != null and module != ''">and module like concat('%', #{module}, '%')</if>
            <if test="operatorName != null and operatorName != ''">and operator_name like concat('%', #{operatorName},'%')</if>
            <if test="operatorType != null">and operator_type = #{operatorType}</if>
            <if test="status != null">and status = #{status}</if>
            <if test="startTime != null">and operation_time &gt;= #{startTime}</if>
            <if test="endTime != null">and operation_time &lt;= #{endTime}</if>
            and is_deleted = 0
        </where>
        order by operation_time desc
    </select>

    <select id="selectById" resultType="com.cm.entity.OperationLog">
        <include refid="BaseResult"/>
        where id = #{id} and is_deleted = 0
    </select>
</mapper>